<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Calculator</title>
</head>
<body>
    <h1>Simple Calculator</h1>
    
    <form method="post" action="/">
        <label for="num1">Number 1:</label>
        <input type="number" name="num1" required>
        
        <label for="num2">Number 2:</label>
        <input type="number" name="num2" required>

        <label for="operation">Operation:</label>
        <select name="operation" required>
            <option value="add">Addition</option>
            <option value="subtract">Subtraction</option>
            <option value="multiply">Multiplication</option>
            <option value="divide">Division</option>
        </select>

        <button type="submit">Calculate</button>
    </form>

    {% if result %}
        <p>Result: {{ result }}</p>
    {% endif %}
</body>
</html>
